@mixin styles() {
    --ah-clip-color: #363636;

    span {
        display: inline-block;
        padding: .2em 0;
    }

    overflow: hidden;
    vertical-align: top;

    @media (prefers-reduced-motion: no-preference) {
        &::after {
            /* line */
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
            background-color: var(--ah-clip-color);
        }
    }

    b {
        opacity: 0;

        &:not([hidden]) {
            opacity: 1;
        }
    }
}