@use "../variables" as variables;

@use "clip" with (
    $clip-color: variables.$color-1
);
@use "loading-bar" with (
    $bar-color: variables.$color-2
);
@use "push";
@use "rotate-1";
@use "rotate-2";
@use "rotate-3";
@use "scale";
@use "slide";
@use "type" with (
    $type-color: variables.$color-1
);
@use "zoom";