@mixin styles() {
    b {
        opacity: 0;

        &.is-visible {
            opacity: 1;
            animation: push-in .6s;
        }

        &.is-hidden {
            animation: push-out .6s;
        }
    }

    @keyframes push-in {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        60% {
            opacity: 1;
            transform: translateX(10%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes push-out {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        60% {
            opacity: 0;
            transform: translateX(110%);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }
}