@mixin styles() {
    &.rotate-1 {
        perspective: 300px;

        b {
            opacity: 0;
            transform-origin: 50% 100%;
            transform: rotateX(180deg);

            &.is-visible {
                opacity: 1;
                transform: rotateX(0deg);
                animation: ah-rotate-1-in 1.2s;
            }

            &.is-hidden {
                transform: rotateX(180deg);
                animation: ah-rotate-1-out 1.2s;
            }
        }
    }

    @keyframes ah-rotate-1-in {
        0% {
            transform: rotateX(180deg);
            opacity: 0;
        }

        35% {
            transform: rotateX(120deg);
            opacity: 0;
        }

        65% {
            opacity: 0;
        }

        100% {
            transform: rotateX(360deg);
            opacity: 1;
        }
    }

    @keyframes ah-rotate-1-out {
        0% {
            transform: rotateX(0deg);
            opacity: 1;
        }

        35% {
            transform: rotateX(-40deg);
            opacity: 1;
        }

        65% {
            opacity: 0;
        }

        100% {
            transform: rotateX(180deg);
            opacity: 0;
        }
    }
}