@use "../mixins";

@mixin styles() {
    --ah-cursor-color: #363636;
    --ah-cursor-width: 1px;
    --ah-selection-bg-color: #f0f0f0;
    --ah-selection-color: var(--ah-cursor-color);

    vertical-align: top;
    overflow: hidden;

    @media (prefers-reduced-motion: no-preference) {
        &::after {
            /* vertical bar */
            content: '';
            position: absolute;
            right: 0;
            @include mixins.center(y);
            height: 90%;
            width: var(--ah-cursor-width);
            background-color: var(--ah-cursor-color);
        }

        &.waiting::after {
            animation: ah-pulse 1s infinite;
        }

        &.selected {
            background-color: var(--ah-selection-bg-color);

            &::after {
                visibility: hidden;
            }

            b {
                color: var(--ah-selection-color);
            }
        }
    }

    b {
        visibility: hidden;

        &.is-visible {
            visibility: visible;
        }
    }

    .letter {
        position: absolute;
        visibility: hidden;

        &.is-visible {
            position: relative;
            visibility: visible;
        }
    }

    @keyframes ah-pulse {
        0% {
            transform: translateY(-50%) scale(1);
            opacity: 1;
        }

        40% {
            transform: translateY(-50%) scale(0.9);
            opacity: 0;
        }

        100% {
            transform: translateY(-50%) scale(0);
            opacity: 0;
        }
    }
}