@use "mixins";

@mixin styles() {
    display: inline-block;
    position: relative;
    text-align: left;

    b {
        display: inline-block;
        position: absolute;
        white-space: nowrap;
        left: 0;
        top: 0;

        &.is-visible {
            position: relative;
        }

        @media (prefers-reduced-motion: reduce), print {
            // hide everything..
            &,
            span {
                animation: none !important;
                display: none !important;
            }

            // ..and only show the first option
            &:first-of-type {
                display: inline-block !important;

                .letter {
                    display: inline-block !important;
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
}