// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@mixin disable-animation {
    animation: none;

    // hide everything
    b.is-visible,
    b.is-hidden {
        display: none !important;
    }

    // only show the first option
    b:first-of-type {
        &, i {
            display: inline-block !important;
            visibility: visible !important;
            position: static;
        }
    }

    // avoid selection
    &.selected {
        background-color: transparent !important;
    }

    // and typing cursor
    &:after {
        display: none;
    }
}